html {
    scroll-behavior: smooth;
}

body {
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    background: #131313;
    color: #dcdcdc;

    overflow-x: hidden;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 12px;
        background-color: rgb(75, 75, 75);
    }

    &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #c5a376;
    }
}

section {
    margin: 100px 0;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;

    @media (max-width: 768px) {
        padding: 0 40px;
    }
}

.container-max {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}

.section-title {
    color: #ffffff;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 6%;

    @media (max-width: 480px) {
        font-size: 22px;
    }
}
.section-text {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 6%;
}

.btn {
    color: #c5a376;
    font-size: 20px;
    letter-spacing: 6%;
    text-align: center;
    font-family: "Jost";

    padding: 10px 50px;
    display: block;

    border: 2px solid #c5a376;

    background: transparent;

    transition: all 0.3s;

    &:hover {
        background: #c5a376;
        color: #fff;
    }
}

form {
    label {
        display: flex;
        flex-direction: column;
        gap: 14px;

        font-size: 20px;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0.06em;
    }

    input,
    textarea {
        background-color: #bab8b8;
        font-family: Jost;
        padding: 10px 20px;

        font-size: 20px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.06em;
    }
    textarea {
        height: 145px;
        font-family: Jost;
    }
}
